<!--
  #%L
  thinkbig-ui-feed-manager
  %%
  Copyright (C) 2017 ThinkBig Analytics
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<div>
    <md-progress-linear md-mode="indeterminate" ng-if="vm.loadingCategory"></md-progress-linear>
    <card-layout body-css="md-padding" class="centered" ng-if="!vm.loadingCategory">
        <header-section>
            <div layout="row" layout-align="center start">
                <div class="card-title">数据库细节</div>
                <span flex></span>
                <ng-md-icon icon="{{vm.model.icon}}" ng-style="vm.getIconColorStyle(vm.model.iconColor)" style="padding-right:16px;" size="30"></ng-md-icon>
            </div>
        </header-section>
        <body-section>
            <thinkbig-category-definition></thinkbig-category-definition>
            <thinkbig-category-properties ng-if="vm.model.id != null"></thinkbig-category-properties>
            <thinkbig-category-feed-properties ng-if="vm.model.id != null"></thinkbig-category-feed-properties>
            <thinkbig-category-access-control ng-if="vm.model.id != null && vm.showAccessControl"></thinkbig-category-access-control>
            <thinkbig-category-feeds ng-if="vm.model.id != null"></thinkbig-category-feeds>
        </body-section>
    </card-layout>
</div>
