<vertical-section-layout allow-edit="false" show-vertical-check="true" section-title="相关数据表">
    <readonly-section>
        <md-list layout-fill class="list-item-table list-condensed" id="policy-list" ng-if="vm.model.relatedFeedSummaries != null && vm.model.relatedFeedSummaries.length > 0">
            <md-list-item>
                <div layout="row" layout-fill>
                    <div flex="50" class="md-list-item-text hint">
                        Name
                    </div>
                    <div flex="10" class="md-list-item-text hint">
                        Active
                    </div>
                    <div flex="40" class="md-list-item-text hint">
                        Last Modified
                    </div>
                </div>
            </md-list-item>
            <md-list-item ng-repeat="feed in vm.model.relatedFeedSummaries" >
                <div layout="row" class="hover" layout-fill ng-click="vm.onFeedClick(feed)">
                    <div flex="50" class="md-list-item-text">
                        <md-input-container class="md-block" flex-gt-sm>
                            <div>{{feed.feedName}}</div>
                        </md-input-container>
                    </div>
                    <div flex="10" class="md-list-item-text ">
                        <ng-md-icon icon="check"></ng-md-icon>
                    </div>
                    <div flex="40" class="md-list-item-text ">
                        {{feed.updateDate | date : 'MM/dd/yyyy hh:mm:ss'}}
                    </div>
                </div>
            </md-list-item>
        </md-list>
        <div ng-if="vm.model.loadingRelatedFeeds">
            Loading ...<br/>
            <md-progress-circular md-mode="indeterminate"  md-diameter="25px"></md-progress-circular>
        </div>
        <div ng-if="!vm.model.loadingRelatedFeeds && (vm.model.relatedFeedSummaries == null || vm.model.relatedFeedSummaries.length === 0)">
            There are no feeds associated with this category
        </div>
    </readonly-section>
</vertical-section-layout>
