<!--
  #%L
  thinkbig-ui-operations-manager
  %%
  Copyright (C) 2017 ThinkBig Analytics
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<div>
    <md-progress-linear md-mode="indeterminate" ng-if="vm.loading"></md-progress-linear>
    <div layout="row" layout-sm="column" layout-xs="column" ng-if="vm.allowed">
        <div layout="column" flex-gt-sm="70" flex-order="1" flex-order-xs= "2" flex-order-sm="2">
            <!-- THE KPIs -->
            <div layout="row" layout-xs="column" layout-wrap layout-align="space-between center" class="kpi-row">
                <div flex-gt-md="25" flex-gt-xs="50" class="service-wrapper kpi"  layout-wrap tba-services-indicator id="services-summary" panel-title="Services"></div>
                <div flex-gt-md="25" flex-gt-xs="50" class="service-wrapper kpi" layout-wrap tba-feed-status-indicator id="feeds-health-summary" panel-title="Feed Status"></div>
                <div flex-gt-md="25" flex-gt-xs="50" class="service-wrapper kpi" layout-wrap tba-data-confidence-indicator id="data-confidence-summary" panel-title="Data Confidence"></div>
                <div flex-gt-md="25" flex-gt-xs="50" class="service-wrapper kpi" layout-wrap tba-job-status-indicator id="job-activity-kpi" panel-title="Job Status" refresh-interval-time="1000"></div>
            </div>
            <!-- END KPIs -->
            <!-- the Feeds Table-->
            <tba-feed-health-table-card card-title="源数据健康度"></tba-feed-health-table-card>
            <!-- end feeds table-->
        </div>
        <!-- the ALERTS -->
        <tba-alerts layout="column" flex-gt-sm="30" flex-order="2" flex-order-xs="1" flex-order-sm="1"></tba-alerts>
    </div>
</div>
