<!--
  #%L
  thinkbig-ui-operations-manager
  %%
  Copyright (C) 2017 ThinkBig Analytics
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<card-layout flex header-css="filter-header">
  <header-section tba-card-filter-header flex layout card-title="vm.cardTitle" page-name="{{vm.pageName}}" view-type="vm.viewType" sort-options="vm.sortOptions"
                  on-selected-option="vm.selectedTableOption" filter-model="vm.filter" filter-model-options="{debounce:1000}">

  </header-section>
  <body-section>
    <md-tabs flex md-selected="vm.tabMetadata.selectedIndex"
             md-align-tabs="top" layout-fill md-dynamic-height>

      <md-tab ng-repeat="tab in vm.tabs"
              ng-disabled="tab.disabled"
              md-on-select="vm.onTabSelected(tab)" flex
      >
        <md-tab-label> {{tab.title}}</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div ng-hide="vm.viewType != 'list'" ng-show="vm.viewType == 'list'">
              <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgress"></md-progress-linear>
            <md-list flex layout-fill class="list-item-table">
              <md-list-item class="md-secondary overview" dir-paginate="feed in tab.data.content |itemsPerPage:vm.paginationData.rowsPerPage" total-items="tab.data.total" current-page="tab.currentPage"
                            pagination-id="tab.title" ng-click="vm.feedDetails($event,feed)">

                <div layout="column" layout-fill>
                  <div class="item-column md-list-item-text item-column-title"
                       layout-fill flex>
                           <span class="item-title" title="{{feed.feed}}">
                              {{feed.feed}}
                            </span>
                  </div>
                  <div layout="row" layout-fill class="overview-row">
                    <div flex="20" layout="column" class="item-column md-list-item-text " ng-if="!feed.stream">
                                    <span ng-class="{'healthy':feed.healthText == 'HEALTHY','error':feed.healthText == 'UNHEALTHY'}">
                                           <ng-md-icon icon="{{feed.icon}}" size="20" hide-xs style="height: inherit">
                                           </ng-md-icon>
                                      {{feed.healthText}}
                                    </span>
                      <span class="column-title column-title-bottom">
                          <!--     Feed Health -->
                               源数据健康度
                                   </span>
                    </div>
                    <div flex="20" layout="column" class="item-column md-list-item-text " ng-if="feed.stream">
                                   <span class="orange" ng-if="feed.stream">
                                           <ng-md-icon icon="tune" size="20" hide-xs style="height: inherit">
                                           </ng-md-icon>
                                     STREAM
                                    </span>
                                  <span ng-if="feed.stream" class="column-title column-title-bottom">{{feed.runningCount | number}} running</span>
                    </div>
                    <div flex="20" layout="column" class="item-column md-list-item-text " >

                                   <span class="item-title-small {{feed.statusStyle}}">
                                     {{feed.displayStatus}}</span>
                      <span class="column-title column-title-bottom">
                                     Status
                                   </span>
                    </div>


                    <div flex="30" layout="column" class="item-column md-list-item-text " ng-if="((!feed.stream  || (feed.stream && !feed.running)))">
                                   <span class="item-title" ng-if="feed.lastStatus != 'UNKNOWN'">
                                      <kylo-timer start-time="feed.timeSinceEndTime" truncated-format="true" add-ago-suffix="true"></kylo-timer>
                                   </span>
                                   <span class="item-title" ng-if="feed.lastStatus == 'UNKNOWN'">
                                    --
                                   </span>
                      <span class="column-title column-title-bottom">Since</span>
                    </div>
                    <div flex hide-xs layout="column" class="item-column md-list-item-text " ng-if="!feed.stream">
                      <span class="item-title" ng-if="feed.lastStatus != 'UNKNOWN'">{{feed.runTimeString}}</span>
                      <span class="item-title" ng-if="feed.lastStatus == 'UNKNOWN'">--</span>
                      <span class="column-title column-title-bottom">Last Run Time</span>
                    </div>
                  </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
              <md-list-item ng-show="vm.loading == false && vm.total ==0">
                No results found
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout-align="end center" layout-row class="pagination-list-item">
                <dir-pagination-controls pagination-id="tab.title"
                                         auto-hide="false"
                                         max-size="5"
                                         direction-links="true"
                                         boundary-links="false"
                                         template-url="js/common/dir-pagination/dirPagination.tpl.html"
                                         on-page-change="vm.onPaginationChange(newPageNumber)"
                                         label="Rows per page"
                                         rows-per-page="vm.paginationData.rowsPerPage"
                                         rows-per-page-options="vm.paginationData.rowsPerPageOptions"
                                         class="pagination-row">
                </dir-pagination-controls>
              </md-list-item>
            </md-list>
          </div>
          <div ng-hide="vm.viewType != 'table'" ng-show="vm.viewType == 'table'">
            <md-table-container>
              <table md-table md-progress="vm.fetchFeedHealthPromise">
                <thead md-head md-order="vm.paginationData.sort" md-on-reorder="vm.onOrderChange">
                <tr md-row>
                  <th md-column name="Feed" md-order-by="feed">源数据</th>
                  <th md-column name="Health" md-order-by="healthText">健康度</th>
                  <th md-column name="Status" md-order-by="displayStatus">状态</th>
                  <th md-column name="Since" md-order-by="timeSinceEndTime">Since</th>
                  <th md-column name="Last Run Time" md-order-by="runTime">Last Run Time</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="feed in tab.data.content "
                    ng-click="vm.feedDetails($event,feed)">
                  <td md-cell>{{feed.feed}}</td>
                  <td md-cell>
                                    <span ng-class="{'healthy':feed.healthText == 'HEALTHY','unhealthy':feed.healthText == 'UNHEALTHY'}">
                                       <ng-md-icon icon="{{feed.icon}}" size="20"
                                                   style="{{job.iconstyle}}">
                                       </ng-md-icon>
                                       <span>{{feed.healthText}}</span></span>

                  </td>
                  <td md-cell>
                                       <span class="{{feed.statusStyle}}">
                                         {{feed.displayStatus}}
                                       </span>
                  </td>
                  <td md-cell>
                    <kylo-timer start-time="feed.timeSinceEndTime" truncated-format="true" add-ago-suffix="true" ng-if="(feed.lastStatus != 'UNKNOWN' && (!feed.stream || (feed.stream && !feed.running)))"></kylo-timer>
                    <span class="item-title" ng-if="feed.lastStatus == 'UNKNOWN'"> -- </span>
                  </td>
                  <td md-cell>
                    <div ng-if="!feed.stream">
                    <span ng-if="feed.lastStatus != 'UNKNOWN'">{{feed.runTimeString}}</span>
                    <span ng-if="feed.lastStatus == 'UNKNOWN'">--</span>
                    </div>
                </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="vm.paginationData.rowsPerPage" md-page="tab.currentPage" md-total="{{tab.data.total}}" md-on-paginate="vm.onTablePaginationChange"
                                 md-limit-options="[5,10,20,50]"></md-table-pagination>

          </div>


          <div ng-show="vm.loading == true">
            <md-progress-circular md-mode="indeterminate" md-diameter="25px"></md-progress-circular>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>

  </body-section>
</card-layout>
